@tailwind base;
@tailwind components;
@tailwind utilities;

/* add blink to the circle */

body {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.circle-blink {
	animation: blink 1s infinite;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.feature-text {
	@apply text-xl sm:text-3xl mt-5 font-medium text-center;
}

.feature-icon {
	@apply text-3xl sm:text-4xl;
}

@layer utilities {
	.dark-mode {
		--tw-bg-opacity: 1;
		background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
		/* text color*/
		color: rgba(255, 255, 255, var(--tw-text-opacity));
	}
	.light-mode {
		--tw-bg-opacity: 1;
		background-color: rgba(255, 255, 255, var(--tw-bg-opacity));

		/* text color*/
		color: rgba(17, 24, 39, var(--tw-text-opacity));
	}
}
